{{define "title"}}ARH3D{{end}} {{template "layout" .}} {{define "content"}}

<section class="mb-8 space-y-3">
	<h2 class="text-lg font-semibold">Welcome to ARH3D</h2>
	<p class="text-sm text-slate-400">
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus impedit itaque incidunt ratione a architecto
		laborum similique alias consequatur ullam, explicabo nam fugiat asperiores corrupti! Itaque fuga eligendi ipsum
		cumque.
	</p>
	<p class="text-sm text-slate-400">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nobis, aliquam sed ratione magnam atque veniam
		natus iste soluta, aperiam debitis fugiat magni numquam totam voluptatum sapiente tempore. Amet, illum!
	</p>
</section>

<section class="space-y-2">
	<div class="flex items-center justify-between">
		<h2 class="text-lg font-semibold">Job Queue</h2>
	</div>
	<div class="text-slate-500 text-sm">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, corporis officiis? Minus adipisci officiis fugiat
		consequatur sunt, cupiditate dolor eum illum necessitatibus aut tempore rerum sequi expedita officia porro qui?
	</div>
</section>

{{end}}
